* {
    box-sizing: border-box;
    //border: 1px solid salmon;
}
html {
    width: 100%;
    height: 100%;
    font-size: 14px;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
}
p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
}

[class*="lee"] {
    display: inline-block;
    padding: 1em 2em 1em 2em;
    border: 3px solid #333;
    font-family: "Montserrat", sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    text-decoration: none;
    color: #333;
    position: absolute;
    top: 50%;
    left: 40%;
    cursor: pointer;
}


[id*="texto"] {
    margin: 9em;
}
.single {
    width: 100%;
    height: 100%;
    background-color: white;

    .content {
        display: grid;
        grid-template-rows: 150px 800px 800px 800px 800px;
        grid-template-columns: 50% 50%;

        .header {
            grid-area: 1/1/2/3;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            margin-right: 1em;

            .menu {
                width: 50px;
                display: flex;
                flex-wrap: wrap;
                .bar {
                    width: 50px;
                    height: 10px;
                    background-color: #333;
                    margin-bottom: 0.2em;
                }
            }
        }

        #texto-1 {
            grid-area: 2/1/3/2;
            position: relative;
        }

        #imagen-1 {
            grid-area: 2/2/3/3;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: height 340ms ease-in-out;
            }
        }

        .noticia-0{
            //grid-area:2/1/3/3;
        }
        #texto-2 {
            grid-area: 3/2/4/3;
            position: relative;
        }

        #imagen-2 {
            grid-area: 3/1/4/2;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        #texto-3 {
            grid-area: 4/1/5/2;
            position: relative;
        }

        #imagen-3 {
            grid-area: 4/2/5/3;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        #texto-4 {
            grid-area: 5/2/6/3;
            position: relative;
        }

        #imagen-4 {
            grid-area: 5/1/6/2;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}


